* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

#startelem {
    height: 100vh;
}

.app-container {
    height: 100%;
    padding: 2px;
}

/*strapline*/
.strapline {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.mini-logo {
    height: 100px;
}

/*app contents*/
.app-contents {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(35, 129, 54);
    font-family: inherit;
    border: blue 1px solid;
}

/*splash.js*/

.splash {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #11270b;
    font-family: inherit;
}

.logo {
    height: 300px;
}

.splash-text {
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

#start {
    font-family: inherit;
    font-size: 20px;
    margin: 10px 0;
    color: white;
    background-color: rgb(35, 129, 54);
    height: 50px;
    padding: 5px 10px;
    border: solid 1px rgb(35, 129, 54);
}

/*questions.js*/

.question-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: red 1px solid;
}

.answer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
