* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #2ceaa3;
}

#startelem {
    height: 100vh;
}

.app-container {
    height: 100%;
    padding: 2px;
}

/*strapline*/
.strapline {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.mini-logo {
    height: 100px;
}

/*app contents*/
.app-contents {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(35, 129, 54);
    font-family: inherit;
}

/*splash.js*/

.splash {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2a6041;
    font-family: inherit;
}

.logo {
    height: 300px;
}

.splash-text {
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

#start {
    font-family: inherit;
    font-size: 20px;
    margin: 10px 0;
    color: white;
    background-color: #238136;
    height: 50px;
    padding: 5px 10px;
    border: solid 1px rgb(35, 129, 54);
}

/*questions.js*/

.question-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.answer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons > button {
    font-family: inherit;
    font-weight: bold;
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    background-color: white;
    border: 1px #238136 solid;
}

.nav-buttons > button:hover {
    background-color: #6bffb8;
}

.German,
.English {
    min-width: 400px;
    border: rgb(35, 129, 54) 1px solid;
    background-color: aliceblue;
    font-size: 20px;
    height: 50px;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

textarea {
    min-width: 200px;
    border: hsl(132, 57%, 32%) 1px solid;
    height: 50px;
    padding: 5px;
    margin: 5px 0;
}

.feedback {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: 1px #238136 solid;
}
