* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #91e0c3;
}

#startelem {
    height: 100vh;
}

.app-container {
    height: 100vh;
}

/*strapline*/
.strapline {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    height: 15vh;
}

.mini-logo {
    height: 100px;
}

/*app contents*/
.app-contents {
    height: 84.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #238136;
    font-family: inherit;
}

/*splash.js*/

.splash {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #238136;
    font-family: inherit;
}

.logo {
    height: 300px;
}

.splash-text {
    font-size: 30px;
    text-align: center;
}

#start {
    font-family: inherit;
    font-size: 20px;
    color: white;
    background-color: #238136;
    height: 50px;
    padding: 5px 10px;
    border: whitesmoke 5px double;
}

/*questions.js*/

.question-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: arrive;
    animation-duration: 1s;
}

.answer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height: 70px;
}

.nav-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons button {
    font-family: inherit;
    font-weight: bold;
    height: 40px;
    padding: 5px;
    background-color: white;
    border: 1px #238136 solid;
}

.nav-buttons button:hover {
    background-color: #6bffb8;
}

.German,
.English {
    font-family: inherit;
    min-width: 450px;
    border: #238136 5px double;
    background-color: white;
    font-size: 20px;
    height: 50px;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes arrive {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.English {
    color: whitesmoke;
    background-color: #238136;
    border: whitesmoke 5px double;
}

#answer {
    width: 250px;
    height: 64px;
    border: hsl(132, 57%, 32%) 1px solid;
    padding: 5px 0 0 5px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    overflow: hidden;
}

.feedback {
    width: 50px;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: 1px #238136 solid;
}

.score {
    width: 60px;
    height: 100%;
    padding: 10px 0;
    font-size: 20px;
    background-color: white;
    border: 1px #238136 solid;
}

/*end of test modal*/
.endmodal {
    font-family: inherit;
    background-color: #6bffb8;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: auto;
    width: 50%;
    height: 80vh;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    animation-name: modal;
    animation-duration: 1s;
}
@keyframes modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 95%;
    }
}

.modalX {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid #238136;
    background-color: #6bffb8;
    padding: 0 3px;
    font-weight: bold;
}
