* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: antiquewhite;
    color: #238136;

    /* background-image: linear-gradient(antiquewhite, #ade9b9); */
}

#startelem {
    height: 100vh;
}

.app-container {
    height: 100vh;
}

/*strapline*/
.strapline {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    height: 15vh;
}

.mini-logo {
    height: 15vh;
    padding: 10px 0 0 10px;
}

/*app contents*/
.app-contents {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #238136;
    font-family: inherit;
}

/*splash.js*/

.splash {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #238136;
    font-family: inherit;
}

.logo {
    height: 300px;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

#start {
    font-family: inherit;
    font-size: 25px;
    color: white;
    background-color: #238136;
    height: 100px;
    width: 300px;
    padding: 5px 10px;
    border: whitesmoke 5px double;
}

/*questions.js*/

.question-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: starttest;
    animation-duration: 1s;
}

.questions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@keyframes starttest {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
}
.question-answer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feedback-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.German,
.English {
    font-family: inherit;
    width: 450px;
    word-wrap: break-word;
    text-align: center;
    border: #238136 1px single;
    background-color: white;
    font-size: 20px;
    min-height: 30%;
    padding: 5px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 5px 5px #238136;
}

.English {
    color: whitesmoke;
    background-color: #238136;
    border: antiquewhite 1px solid;
}

strong {
    color: #e2292f;
    animation: starttest;
    animation-duration: 1s;
}

.answer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#answer {
    width: 200px;
    height: 100%;
    border: #238036 1px solid;
    padding: 0px 0 0 5px;
    margin: 0 10px 0 0;
    text-align: center;
    font-family: inherit;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: 0 5px 5px #238136;
    overflow: hidden;
}

input:focus::placeholder {
    color: transparent;
}

#answer:focus {
    background-color: #b3fad8;
    color: #238036;
    font-size: 25px;
    outline: none;
}

.feedback,
.score,
.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 30%;
    font-size: 30px;
    background-color: white;
    border: 1px #238136 solid;
    border-radius: 30px;
    box-shadow: 0 5px 5px #238136;
}

.submit {
    width: fit-content;
    height: 100%;
    font-size: 30px;
    padding: 0 10px;
    border: #6bffb8 2px solid;
}

.submit:hover,
.submit:focus {
    background-color: #6bffb8;
    outline: none;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons button {
    font-family: inherit;
    font-size: 20px;
    width: 20%;
    word-wrap: break-word;
    height: 100%;
    padding: 5px;
    background-color: white;
    border: 1px #238136 solid;
}

.nav-buttons button:hover,
.nav-buttons button:focus {
    background-color: #6bffb8;
}

/*end of test modal*/
.endmodal {
    font-family: inherit;
    background-color: #7cfef0;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: auto;
    width: 50%;
    height: 80vh;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow: auto;
    animation-name: modal;
    animation-duration: 1s;
}
@keyframes modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 95%;
    }
}

.endmodal > .score {
    height: 70px;
    width: fit-content;
    font-weight: bold;
    padding: 0 10px;
}

.endmodal > h2 {
    color: #238136;
    font-family: inherit;
    font-size: 40px;
}

.endmodal p {
    color: #238136;
    font-family: inherit;
    font-size: 30px;
}

.endmodal button {
    font-family: inherit;
    color: inherit;
    font-size: 30px;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    min-height: 40px;
    padding: 15px;
    background-color: whitesmoke;
    border: 1px #238136 solid;
}

#end {
    color: #e2292f;
}
